<% provide :title, t("static_pages.help.title") %>
<h1><%= t("static_pages.help.title") %></h1>
<p>
  <%= t("static_pages.help.content")%>
  <%= link_to t("static_pages.help.content_second"), "http://www.railstutorial.org/help" %>
  <%= t("static_pages.help.content_thirty")%>
  <%= link_to t("static_pages.help.tutorial"), "http://www.railstutorial.org/book" %>
</p>
